* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

.header-container {
  display: flex;
  padding: 0px 16px;
  background-color: #1f2937;
}

.header-logo {
  margin-right: auto;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
